@{Layout = "~/Views/Shared/_Layout_logged_in.cshtml";}
@model TalkAbout_Term_Project.Post
@section navigation_bar{
    <li><a href="~/Post/Index">Post</a></li>
    <li><a href="~/User/Profile">Profile</a></li>
    <li><a href="~/Home/UploadPost">Ask Question</a></li>
    }

<div class="ic">More Website Templates TemplateMonster.com. December10, 2011!</div>
<div class="content-bg">
    <div class="main">
        <div class="container_12">
        <div class="wrapper" style="padding:20px;">


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.postId)

        @Html.HiddenFor(model => model.posted_by)

        @Html.HiddenFor(model => model.postdate)

        <div class="editor-label">
            @Html.LabelFor(model => model.post_subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post_subject)
            @Html.ValidationMessageFor(model => model.post_subject)
        </div>

        @Html.HiddenFor(model => model.likes)

        <div class="editor-label">
            @Html.LabelFor(model => model.post_content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.post_content, new { style="width:400px;height:100px;"})
            @Html.ValidationMessageFor(model => model.post_content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.category)
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

            </div>
        </div>
    </div>
    <div class="block"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
